<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{name}}</title>
        {{#libraries}}
        <script src="js/{{{src}}}"></script>
        {{/libraries}}
        {{#styles}}
        <link href="{{{src}}}" rel="stylesheet" type="text/css">
        {{/styles}}
    </head>
    <body>
        <div id="jspsych-target"></div>
    </body>
    {{#classes}}
    <script src="js/{{{src}}}"></script>
    {{/classes}}
</html>